body{
    font-family: Trebuchet MS;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

a.my-button{
    background: linear-gradient(to right,#196BCA ,#6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 40px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
   }
   a.my-button:hover{
    background: linear-gradient(to right,#5482d0 ,#7d5ee3);
    background-color: #5482d0;
   }
   a.my-button:active{
    transform: scale(0.95);
   }